{% extends 'layout.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% load static %}
<style>
  .person img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  .person:hover img {
    transform: scale(1.05);
  }

  .person {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
</style>

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-11 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="index.html" class="mb-0">Capestone<span class="text-primary">.</span>
            </a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#home-section" class="nav-link">Home</a></li>
              <li><a href="#work-section" class="nav-link">Work</a></li>

              <li class="has-children">
                <a href="#about-section" class="nav-link">About</a>
                <ul class="dropdown">
                  <li><a href="#about-section">Specialties</a></li>
                  <li><a href="#team-section">Our Team</a></li>
                </ul>
              </li>
              <li><a href="/home" class="nav-link">Analytics</a></li>
              <li>
                <a href="/predict" class="nav-link">Prediction Table</a>
              </li>
              <li><a href="#contact-section" class="nav-link">Contact</a></li>
            </ul>
          </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
            class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>

  </header>


  <div class="particlehead"></div>
  <!-- <div class="container"> -->
  <div class="site-blocks-cover">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

          <div class="row justify-content-center mb-4">
            <div class="col-md-10 text-center">
              <h1>We Love To <span class="typed-words"></span></h1>
              <div><a href="/home" class="btn btn-primary btn-md">Get Analysis</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <section class="site-section" id="work-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="site-section-heading text-center">Our Works</h2>
          <p class="lead">During the Capstone project, we conducted extensive research for our research paper,
            developed machine learning models using data obtained through web scraping, and made predictions to better
            understand energy generation in our country.
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="{% static 'capestoneapp/files/Integrated Approaches to Energy Generation[1].pdf' %}" data-fancybox
            class="media-1">
            <img src="{% static 'capestoneapp/images/research_paper.jpeg' %}" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Integrated Approaches to Energy Generation</h2>
              <span class="category">Research Paper</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="/home" class="media-1">
            <img src="{% static 'capestoneapp/images/analytics.jpeg' %}" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Analytics Dashboard</h2>
              <span class="category">Web Page</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="/predict" class="media-1">
            <img src="{% static 'capestoneapp/images/prediction.jpeg' %}" alt="Image" class="img-fluid">
            <div class="media-1-content">
              <h2>Predictions for 2025</h2>
              <span class="category">Machine Learning Model</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="site-section" id="about-section">
    <div class="container">
      <div class="row mb-5">

        <div class="col-md-5 ml-auto mb-5 order-md-2" data-jarallax-element="50">
          <img src="{% static 'capestoneapp/images/img_13.jpg' %}" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-md-6 order-md-1" data-jarallax-element="-50">

          <div class="row">

            <div class="col-12">
              <div class="text-left pb-1">
                <h2 class="site-section-heading">About Us</h2>
              </div>
            </div>
            <div class="col-12 mb-4">
              <p class="lead">We are a team of passionate researchers leveraging machine learning to optimize
                renewable energy efficiency. Our project focuses on energy forecasting, consumption analysis, and
                resource optimization to drive sustainability. By providing data-driven insights, we aim to bridge the
                gap between technology and clean energy solutions.

                🌍 Join us in building a smarter, greener future</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2 class="site-section-heading">Our Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="person text-center bg-white p-4">
            <img src="{% static 'capestoneapp/images/Vinamra.jpg' %}" alt="Image" class="img-fluid rounded-circle mb-3">
            <h3>Vinamra Rawat</h3>
            <p class="position text-muted">Front-End Developer</p>
            <p class="mb-4">I have gained significant experience in front-end development through various projects. I
              have contributed to building the frontend of an application and also worked on its research paper, which
              was presented at a conference.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/vinamra-rawat/"><span class="icon-linkedin"></span></a></li>
              <li><a href="https://www.github.com/vinamra20"><span class="icon-github"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="person text-center bg-white p-4">
            <img src="{% static 'capestoneapp/images/mansi.jpg' %}" alt="Image" class="img-fluid rounded-circle mb-3">
            <h3>Mansi Kulshreshtha</h3>
            <p class="position text-muted">Data Analyst</p>
            <p class="mb-4">My role in the project involved collecting and processing data through web scraping from
              various online sources to extract relevant energy consumption records. I also integrated historical
              datasets, cleaned and preprocessed the data, ensuring it was structured and accurate for training the
              machine learning model used in forecasting. </p>
            <ul class="ul-social-circle">
              <li><a href="https://www.instagram.com/mansi_kulshrestha/?hl=en"><span class="icon-instagram"></span></a>
              </li>
              <li><a href="https://www.linkedin.com/in/mansi-kulshrestha-38388121a/"><span
                    class="icon-linkedin"></span></a></li>
              <li><a href="https://github.com/mansikulshrestha"><span class="icon-github"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
          <div class="person text-center bg-white p-4">
            <img src="{% static 'capestoneapp/images/ansh.jpg' %}" alt="Image" class="img-fluid rounded-circle mb-3">
            <h3>Ansh Saxena</h3>
            <p class="position text-muted">Researcher</p>
            <p class="mb-4">As a Researcher focused on dataset acquisition, I played a pivotal role in identifying,
              sourcing, and curating high-quality datasets to support data-driven research and model development. My
              efforts ensured that the datasets used were relevant, accurate, and ethically sourced, laying the
              groundwork for impactful analysis and experimentation.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/ansh-saxena-45486725b/"><span class="icon-linkedin"></span></a>
              </li>
              <li><a href="https://github.com/AnshSaxena05"><span class="icon-github"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
          <div class="person text-center bg-white p-4">
            <img src="{% static 'capestoneapp/images/dipti.jpg' %}" alt="Image" class="img-fluid rounded-circle mb-3">
            <h3>Dipti Mahakalkar</h3>
            <p class="position text-muted">Front end Developer</p>
            <p class="mb-4">I have worked on various projects and have a good understanding of front end development.
              I have worked on the frontend of the application. I have also worked on the research paper of the
              application which was presented in the conference.</p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/dipti-mahakalkar/"><span class="icon-linkedin"></span></a></li>
              <li><a href="https://www.github.com/21Dipti"><span class="icon-github"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
          <div class="person text-center bg-white p-4">
            <img src="{% static 'capestoneapp/images/vighnesh.jpg' %}" alt="Image"
              class="img-fluid rounded-circle mb-2">
            <h3>Vighnesh Vasu Vats</h3>
            <p class="position text-muted">Full Stack Developer</p>
            <p class="mb-4">I worked on the backend of this project, helped in creating Machine Learning
              models, developed Django Back-end and helped in integrating front-end with back-end. I also played
              pivotal role in scrapping data from the internet.
            </p>
            <ul class="ul-social-circle">
              <li><a href="https://www.linkedin.com/in/vighnesh-vasu-vats/"><span class="icon-linkedin"></span></a>
              <li><a href="https://www.github.com/vasu2901"><span class="icon-github"></span></a></li>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <section class="site-section" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="site-section-heading">Contact Us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <form action="#" class="p-5 bg-white">

            <h2 class="h4 mb-5">Contact Form</h2>

            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">First Name</label>
                <input type="text" id="fname" class="form-control">
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Last Name</label>
                <input type="text" id="lname" class="form-control">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="email">Email</label>
                <input type="email" id="email" class="form-control">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="subject">Subject</label>
                <input type="subject" id="subject" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                  placeholder="Write your notes or questions here..."></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
              </div>
            </div>


          </form>
        </div>

      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>We are a group of machine learning enthusiasts who are passionate about using data to make a positive
                impact on the world. Our cutting-edge solutions leverage advanced machine learning models to predict
                energy trends for 2025-2026, based on data collected from 2012-2024. By combining data-driven insights
                and sustainable practices, we aim to drive smarter energy usage for a greener, more efficient future.
              </p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Features</h2>
              <ul class="list-unstyled">
                <li><a href="#about-section">About Us</a></li>
                <!-- <li><a href="#">Services</a></li> -->
                <!-- <li><a href="#">Testimonials</a></li> -->
                <li><a href="#contact-section">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div> <!-- .site-wrap -->

<script src="{% static 'capestoneapp/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jquery-ui.js' %}"></script>
<script src="{% static 'capestoneapp/js/popper.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'capestoneapp/js/aos.js' %}"></script>
<script src="{% static 'capestoneapp/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jarallax.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/jarallax-element.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/lozad.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/modernizr.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/three.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/TweenMax.min.js' %}"></script>
<script src="{% static 'capestoneapp/js/OBJLoader.js' %}"></script>
<script src="{% static 'capestoneapp/js/ParticleHead.js' %}"></script>

<script src="{% static 'capestoneapp/js/jquery.sticky.js' %}"></script>

<script src="{% static 'capestoneapp/js/typed.js' %}"></script>
<script>
  var typed = new Typed('.typed-words', {
    strings: [" Conserve Energy", " Build Web Apps", " Build Machine Learning Models", " Build Mobile Apps"],
    typeSpeed: 80,
    backSpeed: 80,
    backDelay: 4000,
    startDelay: 1000,
    loop: true,
    showCursor: true
  });
</script>

<script src="{% static 'capestoneapp/js/main.js' %}"></script>

{% endblock %}