<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'capestoneapp/favicon.png'%}">

  <meta name="description" content="" />
  <meta name="keywords" content="" />


  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'capestoneapp/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{%  static 'capestoneapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'capestoneapp/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'capestoneapp/css/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'capestoneapp/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'capestoneapp/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'capestoneapp/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'capestoneapp/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'capestoneapp/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'capestoneapp/css/style.css' %}">
  <title>Capestone App</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  {% block content %}

  {% endblock %}
</body>

</html>